[submodule "libraries/Common"]
	path = libraries/Common
	url = git@github.com:SciAps/Common.git
[submodule "libraries/MiniWeb"]
	path = libraries/MiniWeb
	url = git@github.com:dinocore1/MiniWeb.git
[submodule "libraries/SwingCommon"]
	path = libraries/SwingCommon
	url = git@github.com:SciAps/SwingCommon.git
	branch = master
